.user-border {
    @include border;
}

.user-header {
    display: flex;
    margin: 0;

    .user-header-item {
        padding: 10px 20px;
        text-align: center;

        p {
            margin: 0;
        }

        .text {
            font-size: 1rem;
        }

        .count {
            font-size: 1.5rem;
        }
    }
}