.user-header {
    display: flex;
    @include border;

    .user-header-item {
        padding: 10px 20px;

        p {
            margin: 0;
        }

        .text {
            font-size: 1rem;
        }

        .count {
            font-size: 1.5rem;
        }
    }
}