.post {
    display: flex;
    list-style: none;
    border: solid 1px #dfdfdf;
    border-radius: 5px;
    background: #fff;
    
    .user-icon {
        padding: 20px 0 0 20px;

        .user-image {
            border-radius: 50%;
        }   
    }

    .post-content {
        flex: 1;
        padding: 20px 10px 10px 20px;

        .post-header {
            font-size: 1.6rem;

            .edit {
                font-size: 0.8rem;
            }
        }

        .post-body {
            padding: 10px 0;
        }

        .post-footer {
            display: flex;
            color: gray;

            .footer-icon {
                padding-right: 40px;

                i {
                    cursor: pointer;
                }
            }

            .footer-time {
                margin-left: auto;
            }
        }

        .post-comment {
            display: flex;
            color: gray;
            font-size: 0.8rem;

            p {
                margin: 0;
                padding: 0 5px;
            }
        }
    }
}

